*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar{
   background-color: lavenderblush;
   width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: #062C30;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    height: 50px;
  }

.topnav a:hover {
    background-color: teal;
    color: black;
}

.topnav {
  overflow: hidden;
  background-color: #062C30;
}

.topnav a {
  float: right;
  color: burlywood;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: top 0.3s
}

.topnav a.active {
  background-color: plum;
  color: whitesmoke;
}

.menu-btn{
    
}


.col-4{
    display: flex;
    justify-content: flex-end
}
.col-8{
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}
.idx_cnt{
    margin: auto;
    width: 70%;
    text-align: center;
    color: #151D3B;
    font-size: large;
    font-style: oblique;
}
p{
    color: #151D3B;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: oblique;
}
#wri{
    color: black;
    font-style: oblique;
    font-weight: bolder; 

}

#wrii{
    color : black;
    font-style: oblique;
    font-weight: bolder;
}
.content{
    background-image: url(./myImages/pexels-pixabay-358238\ \(1\).jpg);
    background-repeat: no-repeat;
    position: relative;
    padding: 20px;
}

#icon_sp{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}


img{
    border-radius: 10rem;
}

.content_2{
    text-align: center;
    background-color: lavenderblush;
    margin-top: -45px;
}

.content_3{
    background-color: #FFBDE6;
    padding-top: 20px;
}  

.content_3 a{
    text-align: center;
}

.more-btn{
   background-color: rgb(11, 168, 19);
   padding: 12px 80px;
   border-radius: 3px;
   color: white;
   text-decoration: none;
}

.more-btn:hover{
    color: white;
    background-color: rgb(27, 202, 35);
}

.writings{
    height: 100vh;
    width: 100%;
}

.write-para{
    background-color: rgba(255, 255, 255);
    margin: 0px 15px;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    z-index: -1;

}

.writes-2-cont{
    background-color: rgba(255, 255, 255);
    height: 130px;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.5);
}


.writes_1{
    border-radius: 5px;
    padding: 16px;
    margin: 0px;
}

.writes_bg{
    background-image: url(./myImages/image2.jpg);
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    height: 100%;
    background-position: center;
}

.home-container{
    margin-top: 45px;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-para{
    height: 20rem;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-para p{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 600;
}


.my-img{
    width: 35%;
}


.container{
    margin-top: 45px;
}

.writes_2{
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

#w2{
    color:black;
}

.proj2-img img{
    width: 500px;
}

.writes_3{
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

#w3{
    color: #FFBDE6;
}

#proj_1{
    color: tan;
}

#p_2{
    align-self: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: tan;
}

.proj_bg{
    background-image: url(./myImages/pexels-pixabay-531321.jpg);
}

.cnt_bg{
    background-image: url(./myImages/pexels-pixabay-358238\ \(1\).jpg);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cr_form{
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    text-align: center;
}

.contact-form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

#f1{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    border-bottom: 1px solid black;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: #062C30 ;
    border: none;
    color: burlywood;
    margin-top: 20px;
}

h2{
    margin-bottom: 30px;
    color: #FFBDE6;
    font-weight: 5px bolder;
    font-style: oblique;
}

::placeholder{
    color: #062C30;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1150px){
    .intro{
        flex-direction: column;
    }

    .my-img{
        width: 440px;
    }

}
@media screen and (max-width: 600px){

    .my-img{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 65px;
    }

    .my-img img{
        width: 200px;
    }

    .example-content-main{
        text-align: center;
    }

    .topnav{
        height: 80vh;
        position: relative;
    }

    .topnav a{
        width: 100%;
        margin: auto;
    }

    .write-para{
        margin-top: 12px;
    }

    .writes_1>.container>.row{
        display: flex;
        flex-direction: column;
    }
    .writes_3>.container>.row{
        display: flex;
        flex-direction: column;
    }

    .writes-2-cont{
        height: 250px;
    }

    .project-cont{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .project-cont>#proj_1{
        text-align: center;
        width: 100%;
    }

    .project-cont>.col-4{
        width: 100%;
    }
    
    .img1{
        height: 250px;
        width: 100%;
    }

    .proj1-img{
        width: 100%;
        margin-left: 15px;
    }

    .project2-cont{
        flex-direction: column;
        width: 100%;
    }

    .project2-cont .proj2-img{
        width: 95%;
        margin-left: 15px;
    }

    .project2-cont .proj2-img img{
        width: 100%;
    }

    #p_2{
        width: 100%;
        text-align: center;
    }

}