*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: top 0.3s
  }
  
.topnav a:hover {
    background-color: teal;
    color: black;
}

.topnav {
  overflow: hidden;
  background-color: #062C30;
}

.topnav a {
  float: right;
  color: burlywood;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: plum;
  color: whitesmoke;
}

.col-4{
    display: flex;
    justify-content: flex-end
}
.col-8{
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}
.idx_cnt{
    color: #151D3B;
    font-size: large;
    font-style: oblique;
}
p{
    color: #151D3B;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: oblique;
}
#wri{
    color: tan;
    font-style: oblique;
     /* font-size: medium; */
    font-weight: bolder; 

}

#wrii{
    color : darkolivegreen;
    font-style: oblique;
    font-weight: bolder;
}
.content{
    background-image: url(./myImages/pexels-pixabay-358238\ \(1\).jpg);
    opacity: 0.85;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px;
}

#icon_sp{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}


img{
    border-radius: 10rem;
}

.content_2{
    text-align: center;
    background-color: lavenderblush;
    /* padding: 10px 10px; */
}

.content_3{
    background-color: #FFBDE6;
    padding-top: 20px;
}  

.content_3 a{
    text-align: center;
}

.writes_1{
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0;
}

.writes_bg{
    background-image: url(./myImages/image2.jpg);
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    height: 100%;
    background-position: center;
}

.writes_2{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

#w2{
    color: white;
}

.writes_3{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

#w3{
    color: #FFBDE6;
}

#proj_1{
    color: tan;
}

#p_2{
    align-self: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: tan;
}

.proj_bg{
    background-image: url(./myImages/pexels-pixabay-531321.jpg);
}

.cnt_bg{
    background-image: url(./myImages/pexels-pixabay-358238\ \(1\).jpg);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cr_form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

#f1{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    border-bottom: 1px solid black;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: #062C30 ;
    border: none;
    color: burlywood;
    margin-top: 20px;
}

h2{
    margin-bottom: 30px;
    color: #FFBDE6;
    font-weight: 5px bolder;
    font-style: oblique;
}

::placeholder{
    color: #062C30;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}